body{
  font-family: 'Times New Roman', Times, serif;
  color:aqua;
background:url('./public/hexagonalbackground.jpg');
background-repeat:no-repeat;
background-size: cover;
background-position: center;
height: 100vh; 
  width: 100vw; 
  margin: 0; 
  overflow-x: hidden;
}

h2{
  font-size: 30px;
  font-weight: 900px;
  justify-content: center;
  text-align: center;
  
}

h3{
  font-size: 25px;
  font-weight: bold;
 margin-left:30px;
  
   
}

.description, .amount, .date, .btn-submit{
  padding:10px;
  margin:10px;
  width:370px;
  border-radius: 50px 5px;
  border-style: initial;
  color: azure;
background: #1c1c1c;

}


.btn-submit{
  cursor:pointer;
}


.btn-edit, .btn-delete{
  padding:7px;
  margin:20px;
  background-color:#1c1c1c;
  color:azure;
  border-radius: 10px;
  cursor: pointer;
}

.btn-edit:hover, .btn-delete:hover {
  background-color: #2a0577;

}

